name: Tests

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkoud repository
        uses: actions/checkout@v2

      - name: Composer install
        uses: php-actions/composer@master # or alternative dependency management

      - name: Run phpunit
        uses: php-actions/phpunit@master
        with:
          config: phpunit.xml.dist

      - name: deptrac
        uses: smoench/deptrac-action@master
